<!-- Navigation top-bar for small-only -->
<nav class="top-bar show-for-small-only" data-topbar>
  <ul class="title-area">
    <li class="name"><h1><a href="/"><img style="position:relative; margin-top: -5px;" src="/images/logo-150px.png" alt="Wu Shu" width="40px"> {{ site.name}}</a></h1></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menü</a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      {% include navigation.html %}
    </ul>
  </section>
</nav>