<!doctype html>
<html class="no-js" lang="de">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ site.name }} - {{ page.title}}</title>
  <link rel="stylesheet" href="/css/app.css"/>
  <script src="/bower_components/modernizr/modernizr.js"></script>
</head>
<body>

<!-- Header -->
<div class="contain-to-grid">
  <div class="row">
    <div class="large-12 columns crop">
      <!-- Header Content -->
      <h1>
        <a href="/">{{ site.name }}</a>
      </h1>
    </div>
  </div>
</div>


<!-- Navigation -->
<div class="contain-to-grid">

</div>

<!-- End Top Bar -->

<!-- Content -->
<div class="row">
  <div class="large-12 columns content">
    {{ content }}
  </div>
</div>

<!-- End Content -->

<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr/>

    <div class="large-12 columns">
      <p class="inline-block primary-color">Copyright &copy; 2013 - FOO</p>

      <ul class="inline-list right">
        <li><a href="http://fairphone.sinndrin.ch">Webdesign und Hosting von sinndrin.ch</a></li>
      </ul>
    </div>

  </div>
</footer>

<script src="/bower_components/jquery/jquery.js"></script>
<script src="/bower_components/foundation/js/foundation.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>