<!doctype html>
<html class="no-js" lang="de">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ site.name }} - {{ page.title}}</title>
  <link rel="stylesheet" href="/css/app.css"/>
  <link href='http://fonts.googleapis.com/css?family=Asul:400,700' rel='stylesheet' type='text/css'>
  <script src="/bower_components/modernizr/modernizr.js"></script>
</head>
<body>

<!-- top spacing -->
<div class="row">
  <div class="large-12 columns top-spacing"></div>
</div>

<!-- Header -->
<div class="row">
  <div class="medium-12 columns">
    <h1>Wu Shu Center Oberland</h1>

    <p>&nbsp;</p>
  </div>
</div>


<!-- body -->
<div class="row">
  <div class="medium-12 columns">
    <!-- Logo -->
    <div id="circle"></div>
    <!-- Navigation -->
    <!-- TODO: hide-for-small aber zeige top-bar an -->
    <ul class="side-nav splashscreen hide-for-small">
      <li><a href="/" style="margin-left:270px;">Home</a></li>
      <li><a href="/chris-ritter/" style="margin-left:290px;">Chris Ritter</a></li>
      <li><a href="/wu-shu/" style="margin-left:300px;">Wu Shu</a></li>
      <li><a href="/shaolin-kung-fu/" style="margin-left:310px;">Shaolin Kung Fu</a></li>
      <li><a href="/tai-chi-chuan/" style="margin-left:310px;">Tai Chi Chuan</a></li>
      <li><a href="/qi-gong/" style="margin-left:300px;">Qi Gong</a></li>
      <li><a href="/wu-shu-fuer-kinder/" style="margin-left:290px;">Wu Shu für Kinder</a></li>
      <li><a href="/infos-kontakt/" style="margin-left:270px;">Infos / Kontakt</a></li>
    </ul>
  </div>
</div>

<!-- Footer -->
{% include footer.html %}

<script src="/bower_components/jquery/jquery.js"></script>
<script src="/bower_components/foundation/js/foundation.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>