<!doctype html>
<html class="no-js" lang="de">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ site.name }} - {{ page.title}}</title>
  <link rel="stylesheet" href="/css/app.css"/>
  <link href='http://fonts.googleapis.com/css?family=Asul:400,700' rel='stylesheet' type='text/css'>
  <script src="/bower_components/modernizr/modernizr.js"></script>
</head>
<body>

<!-- Navigation top-bar for small-only -->
{% include top_bar_for_small.html %}

<!-- top spacing -->
<div class="row hide-for-small">
  <div class="large-12 columns top-spacing"></div>
</div>

<!-- Header -->
<div class="row">
  <div class="medium-12 columns">
    <h1 class="show-for-medium-up">Wu Shu Center Oberland</h1>
    <h1 class="show-for-small-only" style="text-align: center;">Wu Shu Center Oberland</h1>
    <p class="hide-for-small-only vspace-splasscreen">&nbsp;</p>
  </div>
</div>


<!-- body -->
<div class="row">
  <div class="medium-12 columns">
    <!-- Logo -->
    <!-- Medium-up screens -->
    <div id="circle" class="hide-for-small"></div>
    <!-- Small screens -->
    <div class="show-for-small-only">
      <a href="/"><img style="margin-top: 10px; display: block; margin-left: auto; margin-right: auto;"
                       src="/images/logo-150px.png" alt="Wu Shu" width="150px"></a>
    </div>
    <!-- Navigation for medium-up -->
    <ul class="side-nav splashscreen hide-for-small">
      {% include navigation.html %}
      <!--Newsbox-->
      <li style="margin-left: 640px; margin-top: -300px;"><a class="newsbox" href="/pullover/"><div id="newsbox-image"></div> Es gibt neue Jacken!</a></li>
    </ul>
    <!-- Navigation for small -->
    <ul class="side-nav show-for-small" style="text-align: center;">
      <!--Newsbox-->
      <li style="z-index:-1;"><a class="newsbox" href="/pullover/" style="margin-left: auto; margin-right: auto; margin-top: 40px; margin-bottom: 40px;"><div id="newsbox-image"></div> Es gibt neue Jacken!</a></li>
      {% include navigation.html %}
     </ul>
  </div>
</div>

<!-- Footer -->
{% include footer.html %}

<script src="/bower_components/jquery/jquery.js"></script>
<script src="/bower_components/foundation/js/foundation.min.js"></script>
<script src="/js/app.js"></script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://prod.sinndrin.ch/piwik/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "1"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
<!-- Piwik Image Tracker -->
<noscript>
  <img src="http://prod.sinndrin.ch/piwik/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript>
<!-- End Piwik -->
</body>
</html>