<!doctype html>
<html class="no-js" lang="de">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="google-site-verification" content="XjOu2MFYZBu2o1HIze-hvsyERF3aeayUNayVvwKbe_I" />
  <title>{{ site.name }} - {{ page.title}}</title>
  <link rel="stylesheet" href="/css/app.css"/>
  <link href='http://fonts.googleapis.com/css?family=Asul:400,700' rel='stylesheet' type='text/css'>
  <script src="/bower_components/modernizr/modernizr.js"></script>
</head>
<body>

<!-- Navigation top-bar for small-only -->
{% include top_bar_for_small.html %}

<!-- top spacing -->
<div class="row hide-for-small">
  <div class="large-12 columns top-spacing"></div>
</div>

<!-- Header -->
<div class="row">
  <div class="medium-12 columns">
    <h1 class="show-for-medium-up">Wu Shu Center Oberland</h1>
    <h1 class="show-for-small-only" style="text-align: center;">Wu Shu Center Oberland</h1>
    <p class="hide-for-small-only vspace-splasscreen">&nbsp;</p>
  </div>
</div>


<!-- body -->
<div class="row">
  <div class="medium-12 columns">
    <!-- Logo -->
    <!-- Medium-up screens -->
    <div id="circle" class="hide-for-small"></div>
    <!-- Small screens -->
    <div class="show-for-small-only">
      <a href="/"><img style="margin-top: 10px; display: block; margin-left: auto; margin-right: auto;"
                       src="/images/logo-150px.png" alt="Wu Shu" width="150px"></a>
    </div>
    <!-- Navigation for medium-up -->
    <ul class="side-nav splashscreen hide-for-small">
      {% include navigation.html %}
      <!--Agendabox-->
      <li style="margin-left: 640px; margin-top: -370px;"><a class="newsbox" href="/images/agenda.jpg">Agenda</a></li>
      <!--neue Formen Box-->
      <li style="margin-left: 640px; margin-top: 10px;"><a class="newsbox" href="/neue-formen/">internes Turnier</a></li>
      <!--Newsbox-->
      <li style="margin-left: 640px; margin-top: 10px;"><a class="newsbox" href="/aktuell/"><div id="newsbox-image"></div>Taiji-Seminar</a></li>
    </ul>
    <!-- Navigation for small -->
    <ul class="side-nav show-for-small" style="text-align: center;">
      <!--Agendabox-->
      <li style="z-index:-1;"><a class="newsbox" href="/images/agenda.jpg" style="margin-left: auto; margin-right: auto; margin-top: 40px; margin-bottom: 40px;">Agenda</a></li>
      <!--neue Formen Box-->
      <li style="z-index:-1;"><a class="newsbox" href="/neue-formen/" style="margin-left: auto; margin-right: auto; margin-top: 40px; margin-bottom: 40px;">internes Turnier</a></li>
      <!--Newsbox-->
      <li style="z-index:-1;"><a class="newsbox" href="/aktuell/" style="margin-left: auto; margin-right: auto; margin-top: 40px; margin-bottom: 40px;"><div id="newsbox-image"></div>Taiji-Seminar&shy;</a></li>
      {% include navigation.html %}
     </ul>
  </div>
</div>

<!-- Footer -->
{% include footer.html %}

<script src="/bower_components/jquery/jquery.js"></script>
<script src="/bower_components/foundation/js/foundation.min.js"></script>
<script src="/js/app.js"></script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//www.sinndrin.org/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//www.sinndrin.org/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</body>
</html>